/* Start contacts  */
.contacts {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: sticky;
    bottom: 20px;
}
.contacts .head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contacts .head .icons a {
    color: gray;
    margin-left:10px;
}
.contacts .head .icons i { 
    margin-right: 15px;
}
.contacts .image {
    color: #050505;
    font-weight: bold;
    display: flex;
    padding: 5px;
    position: relative;
}
.contacts .more-hover:hover {
    background-color: #e3e5e8;
    border-radius: 5px;
}
.contacts .image img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 10px;
}
.contacts .image::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #34bf2a;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    bottom: 5px;
}
/* End contacts  */



@media only screen and (max-width: 1109px) {
    .contacts{
        display:none;
    }
}